td {
	padding: 5px 20px;
}

form.upvote-form {
	margin-bottom: 0px;
}

table.ranking {
	margin-top: 50px;
}

td.upvote {
	padding-right: 5px;	
	padding-left: 0px;
}

td.usage-count {
	padding-left: 0px;
}
