html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")    
		link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet',href='stylesheets/notes.css')
		script(type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript',src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		style(type="text/css"): include all.css

	body		
		div.page-title 
			h3 Register

		form.submitLinkForm(method='post' action='/registerPost')
			div.user
				label.linkLabel Username: 
				input(type='text' name='user')
			p
			div.tag
				label.linkTag Password: 
				input(type='password' name='pass')
			p
			div.submit
				input.submitButton(type='submit' value='Register!')